<div class="dropdown">
    <button class="dropbtn"><input type="checkbox" name="Salad"> Salad</button>
    <div class="dropdown-content">
    <a href="#"><input type="checkbox" name="Santa Fe" > Santa Fe</a>
    <a href="#"> <input type="checkbox" name="Greek">Greek</a>
    <a href="#"> <input type="checkbox" name="Asian" >Asian</a>
  
    <p>You might also want</p>
  
    <a href="#"> <input type="checkbox" name="Dreesing">Dreesing</a>
    <a href="#"> <input type="checkbox" name="Bread">Bread</a>
    
    </div>
  </div>