
  


  <div class="container">
                                          
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="border:none;"><h2>Medbook Restaurant menu</h2>
        </button>
        <ul class="dropdown-menu">
        
          <li class="dropdown-submenu">
            <a class="test" tabindex="-1" href="#"><input type="checkbox" name="Salad">Salad </a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" ><input type="checkbox" >Santa Fe</a></li>
              <li><a tabindex="-1" ><input type="checkbox" >Asian</a></li>
              <li class="dropdown-submenu">
                <a class="test" ><input type="checkbox" name="Geek">Greek</a>
                
                <ul class="dropdown-menu">
                  <li><a ><input type="checkbox" >Greek1</a></li>
                  <li><a ><input type="checkbox" >Greek2</a></li>
                </ul>
              </li>
              <li><a><b>You might also want</b></a></li>
              <li class="dropdown-submenu">
                  <a class="test" ><input type="checkbox" name="Dreesing">Dreesing</a>
                  
                  <ul class="dropdown-menu">
                    <li><a ><input type="checkbox" >Italian</a></li>
                    <li><a ><input type="checkbox" >Blue cheese</a></li>
                    <li><a ><input type="checkbox" >Ranch</a></li>
                  </ul>
                </li>
              <li><a ><input type="checkbox" name="Bread">Bread</a></li>
            </ul>
          </li>
          <li class="dropdown-submenu">
              <a class="test" ><input type="checkbox" name="Salad">Entree</a>
              
              <ul class="dropdown-menu">
                <li><a ><input type="checkbox" >Steak</a></li>
                <li><a ><input type="checkbox" >Salmon</a></li>
                <li><a ><input type="checkbox" >Rice</a></li>
              </ul>
            </li>
          <li class="dropdown-submenu">
              <a class="test" ><input type="checkbox" name="Soup">Soup</a>
              
              <ul class="dropdown-menu">
                <li><a ><input type="checkbox" >Minestrong</a></li>
                <li><a ><input type="checkbox" >Hot and sour</a></li>
                <li><a ><input type="checkbox" >Miso</a></li>
                <li><a><b>You might also want</b></a></li>
                <li><a ><input type="checkbox">Bread</a></li>
              </ul>
            </li>
        </ul>
      </div>

      
    </div>